- fc = stats.general_stats.first_commit
- lc = stats.general_stats.last_commit
- daysTable = stats.date_stats.map{ |k,v| [ k,"Date.UTC(#{k.year},#{k.mon-1},#{k.mday})",v.commits, v.lines_added, v.lines_deleted, v.files_added, v.files_deleted] }.sort!{ |a,b| a[0] <=> b[0]}
- daysGraph = daysTable

-# truncate the number of authors in the table
- truncatedTable = true if daysTable.length > maxDaysInTable
- daysTable = daysTable[-maxDaysInTable..-1] if truncatedTable

-# truncate the number of days in the graph
- truncatedGraph = true if daysGraph.length > maxDaysInGraph
- daysGraph = daysGraph[-maxDaysInGraph..-1] if truncatedGraph

- commits_str       = "[#{daysGraph.map{|v| "[#{v[1]}, #{v[2]}]"}.join(", ")}]"
- added_lines_str   = "[#{daysGraph.map{|v| "[#{v[1]}, #{v[3]}]"}.join(", ")}]"
- deleted_lines_str = "[#{daysGraph.map{|v| "[#{v[1]}, #{v[4]}]"}.join(", ")}]"
- block(:activity_per_day) do
  #chart_activity_per_day{:style => "height: 500px"}

  - if truncatedGraph
    .alert.alert-danger Too many active dayes. Data of the graph has been truncated!

  %div.panel.panel-default
    %div.panel-heading{"data-toggle" => "collapse", "data-target" => "#activity_per_day_box"} Table
    %div.panel-body.collapse#activity_per_day_box
      %table.table.table-striped.table-hover#activity_per_day_table
        %thead
          %tr
            %th Date
            %th Commits
            %th Files added
            %th Files deleted
            %th Lines added
            %th Lines deleted
        %tbody
          - daysTable.each do |date, dateJs, commits, lines_added, lines_deleted, files_added, files_deleted|
            %tr
              %td&= date
              %td&= commits
              %td&= files_added
              %td&= files_deleted
              %td&= lines_added
              %td&= lines_deleted
      - if truncatedTable
        .alert.alert-danger Too many active days. Data of the table has been truncated!

  %script
    var chart_activity_per_day           = new Object();
    chart_activity_per_day.x_min         = Date.UTC(#{fc.year},#{fc.mon-1},#{fc.mday})
    chart_activity_per_day.x_max         = Date.UTC(#{lc.year},#{lc.mon-1},#{lc.mday})
    chart_activity_per_day.label         = '#{label(:activity_per_day)}';
    chart_activity_per_day.label_y_axis  = "Number of commits";
    chart_activity_per_day.label_y2_axis = "Changed lines";
    chart_activity_per_day.target        = '#chart_activity_per_day';
    chart_activity_per_day.series        = [{"name":"Commits","yAxis": 0,"data":#{commits_str}},{"name":"Added lines","color": "#6CC644","yAxis": 1,"data":#{added_lines_str}},{"name":"Deleted lines","color": "#BD2C00","yAxis": 1,"data":#{deleted_lines_str}}];

    $("#activity_per_day_box").one('show.bs.collapse', function () {
    $('#activity_per_day_table').DataTable({
    "order": [[ 0, "asc" ]]
    });
    });

    $(document).ready(function() {
    createDateAreaChart(chart_activity_per_day);
    });
