- commits  = Hash[(0..6).to_a.zip([0]*7)].merge(Hash[stats.wday_stats.map { |day,commit| [(day + 6) % 7,commit.commits] }])
- result   = commits.map { |d,c| [weekday(d),c] }

- block(:activity_per_weekday) do
  #chart_activity_per_weekday{:style => "height: 500px"}

  %div.panel.panel-default
    %div.panel-heading{"data-toggle" => "collapse", "data-target" => "#activity_per_weekday_box"} Table
    %div.panel-body.collapse#activity_per_weekday_box
      %table.table.table-striped.table-hover#activity_per_weekday_table
        %thead
          %tr
            %th
            %th Day
            %th Commits
            %th Files added
            %th Files deleted
            %th Lines added
            %th Lines deleted
        %tbody
          - stats.wday_stats.each do |day, commits|
            - day = (day + 6) % 7
            %tr
              %td&= day+1
              %td&= weekday(day)
              %td&= commits.commits
              %td&= commits.files_added
              %td&= commits.files_deleted
              %td&= commits.lines_added
              %td&= commits.lines_deleted

  %script
    var chart_activity_per_weekday     = new Object();
    chart_activity_per_weekday.label   = '#{label(:activity_per_weekday)}';
    chart_activity_per_weekday.target  = '#chart_activity_per_weekday';
    chart_activity_per_weekday.series  = [{"name":"Commits","data":#{result.to_s}}];

    $(document).ready(function() {
    createPieChart(chart_activity_per_weekday);
    $('#activity_per_weekday_table').DataTable({
    "order": [[ 0, "asc" ]],
    "paging": false
    });
    });
