- fc = stats.general_stats.first_commit
- lc = stats.general_stats.last_commit
- res = stats.date_stats.map{ |k,v| [ k,"Date.UTC(#{k.year},#{k.mon-1},#{k.mday})",v.commits, v.lines_added, v.lines_deleted] }.sort!{ |a,b| a[0] <=> b[0]}
- commits_str       = "[#{res.map{|v| "[#{v[1]}, #{v[2]}]"}.join(", ")}]"
- added_lines_str   = "[#{res.map{|v| "[#{v[1]}, #{v[3]}]"}.join(", ")}]"
- deleted_lines_str = "[#{res.map{|v| "[#{v[1]}, #{v[4]}]"}.join(", ")}]"
- block(:activity_per_day) do
  #chart_activity_per_day{:style => "height: 500px"}

  %div.panel.panel-default
    %div.panel-heading{"data-toggle" => "collapse", "data-target" => "#activity_per_day_box"}&= label(:activity_per_day)
    %div.panel-body.collapse#activity_per_day_box
      %table.table.table-striped.table-hover#activity_per_day_table
        %thead
          %tr
            %th Date
            %th Commits
            %th Files added
            %th Files deleted
            %th Lines added
            %th Lines deleted
        %tbody
          - stats.date_stats.each do |date, commits|
            %tr
              %td&= date
              %td&= commits.commits
              %td&= commits.files_added
              %td&= commits.files_deleted
              %td&= commits.lines_added
              %td&= commits.lines_deleted

  %script
    var chart_activity_per_day           = new Object();
    chart_activity_per_day.x_min         = Date.UTC(#{fc.year},#{fc.mon-1},#{fc.mday})
    chart_activity_per_day.x_max         = Date.UTC(#{lc.year},#{lc.mon-1},#{lc.mday})
    chart_activity_per_day.label         = '#{label(:activity_per_day)}';
    chart_activity_per_day.label_y_axis  = "Number of commits";
    chart_activity_per_day.label_y2_axis = "Changed lines";
    chart_activity_per_day.target        = '#chart_activity_per_day';
    chart_activity_per_day.series        = [{"name":"Commits","yAxis": 0,"data":#{commits_str}},{"name":"Added lines","color": "#6CC644","yAxis": 1,"data":#{added_lines_str}},{"name":"Deleted lines","color": "#BD2C00","yAxis": 1,"data":#{deleted_lines_str}}];

    $(document).ready(function() {
    createDateAreaChart(chart_activity_per_day);
    $('#activity_per_day_table').DataTable({
    "order": [[ 0, "asc" ]]
    });
    });

