- commits        = Hash[(1..12).to_a.zip([0]*12)].merge(Hash[stats.month_stats.map { |month,commit| [month,commit.commits] }])
- lines_added    = Hash[(1..12).to_a.zip([0]*12)].merge(Hash[stats.month_stats.map { |month,commit| [month,commit.lines_added] }])
- lines_deleted  = Hash[(1..12).to_a.zip([0]*12)].merge(Hash[stats.month_stats.map { |month,commit| [month,commit.lines_deleted] }])

- block(:activity_per_month) do
  #chart_activity_per_month{:style => "height: 500px"}

  %div.panel.panel-default
    %div.panel-heading{"data-toggle" => "collapse", "data-target" => "#activity_per_month_box"} Table
    %div.panel-body.collapse#activity_per_month_box
      %table.table.table-striped.table-hover#activity_per_month_table
        %thead
          %tr
            %th
            %th Month
            %th Commits
            %th Files added
            %th Files deleted
            %th Lines added
            %th Lines deleted
        %tbody
          - stats.month_stats.each do |month, commits|
            %tr
              %td&= month
              %td&= monthname(month)
              %td&= commits.commits
              %td&= commits.files_added
              %td&= commits.files_deleted
              %td&= commits.lines_added
              %td&= commits.lines_deleted

  %script
    var chart_activity_per_month           = new Object();
    chart_activity_per_month.label         = '#{label(:activity_per_month)}';
    chart_activity_per_month.label_y_axis  = "Number of commits";
    chart_activity_per_month.label_y2_axis = "Changed lines";
    chart_activity_per_month.target        = '#chart_activity_per_month';
    chart_activity_per_month.categories    = #{monthnames()};
    chart_activity_per_month.series        = [{"name":"Commits","yAxis": 0,"data":#{commits.values}},{"name":"Added lines","color": "#6CC644","yAxis": 1,"data":#{lines_added.values}},{"name":"Deleted lines","color": "#BD2C00","yAxis": 1,"data":#{lines_deleted.values}}];

    $(document).ready(function() {
    createAreaChart(chart_activity_per_month);
    $('#activity_per_month_table').DataTable({
    "order": [[ 0, "asc" ]],
    "paging": false
    });
    });
