- authors = stats.author_stats.to_a.sort{ |a, b| b[1].commits <=> a[1].commits }

- block(:commits_per_author_detailed,12) do
  - authors.each_with_index do |v,i|
    - days = v[1].daystats.map{|d,s| [d,s.commits]}.sort{|a,b| a[0] <=> b[0]}
    %div.thumbnail.col-md-6
      %h4
        #{v[0].name}
        %br
        %small= v[0].email 
      %h5= v[1].commits
      %div{:id => "chart_commits_per_author_#{i}", :style => "height: 200px; width: 100%"}
    
    %script
      var chart_commits_per_author_#{i}           = new Object();
      chart_commits_per_author_#{i}.label         = "Commits per author";
      chart_commits_per_author_#{i}.label_y_axis  = "Number of commits";
      chart_commits_per_author_#{i}.target        = '#chart_commits_per_author_#{i}';
      chart_commits_per_author_#{i}.categories    = #{days.map{|d,c| d.strftime("%F")}};
      chart_commits_per_author_#{i}.series        = [{"name":"Commits","data":#{days.map{|d,c| c}}}];
      chart_commits_per_author_#{i}.legend        = {};
      
      $(document).ready(function() {
      createZoomableAreaChart(chart_commits_per_author_#{i});
      });
