- data        = stats.author_stats.map{ |name,c| [name.to_s, c.commits, c.lines_added, c.lines_deleted] }.sort{ |a, b| b[1] <=> a[1] }

- block(:commits_per_author,12) do
  #chart_commits_per_author{:style => "height: 500px"}
  
  %script
    var chart_commits_per_author          = new Object();
    chart_commits_per_author.label        = '#{label(:commits_per_author)}';
    chart_commits_per_author.label_y_axis = "Number of commits";
    chart_commits_per_author.label_y2_axis = "Changed lines";
    chart_commits_per_author.target       = '#chart_commits_per_author';
    chart_commits_per_author.categories   = #{data.map{ |v| v[0] }};
    chart_commits_per_author.series       = [{"name":"Commits","yAxis": 0,"stack":"commits","data":#{data.map{ |v| v[1] }}},{"name":"Added lines","color": "#6CC644","stack":"changes","yAxis": 1,"data":#{data.map{ |v| v[2] }}},{"name":"Deleted lines","color": "#BD2C00","stack":"changes","yAxis": 1,"data":#{data.map{ |v| v[3] }}}];
  
    $(document).ready(function() {
    createColumnChart(chart_commits_per_author);
    });
