- commits = stats.general_stats.commits
- age = ((stats.general_stats.last_commit - stats.general_stats.first_commit + 86399) / 86400).to_i + 1
- active = stats.general_stats.days
- block(:globalstats,12) do
  %ul.thumbnails
    %li.span4
      %div.thumbnail
        %div.title Total commits
        %div.value= commits
    %li.span4
      %div.thumbnail
        %div.title Total contributors
        %div.value= stats.num_authors
    %li.span4
      %div.thumbnail
        %div.title First commit date
        %div.value= stats.general_stats.first_commit.strftime("%F")
    %li.span4
      %div.thumbnail
        %div.title Latest commit date
        %div.value= stats.general_stats.last_commit.strftime("%F")
    %li.span4
      %div.thumbnail
        %div.title Total days
        %div.value= age
    %li.span4
      %div.thumbnail
        %div.title Active days
        %div.value= active
    %li.span4
      %div.thumbnail
        %div.title Average commits per day
        %div.value= "%.2f" % [commits.to_f / age] 
    %li.span4
      %div.thumbnail
        %div.title Average commits per active day
        %div.value= "%.2f" % [commits.to_f / active]
    %li.span4
      %div.thumbnail
        %div.title Average commits per contributor
        %div.value= "%.2f" % [commits.to_f / stats.num_authors]
